@using Estore.Web.ViewModels.Carts
@model CartDetailsViewModel

<br />
<div class="table-content table-responsive">
	<!-- TABLE START -->
	<table class="table table-bordered" id="cart-summary">
		<!-- TABLE HEADER START -->
		<thead>
			<tr>
				<th class="cart-product">Product</th>
				<th class="cart-description">Name</th>
				<th class="cart-avail text-center">Availability</th>
				<th class="cart-unit text-right">Unit price</th>
				<th class="cart_quantity text-center">Qty</th>
				<th class="cart_update">Update</th>
				<th class="cart-delete">&nbsp;</th>
				<th class="cart-total text-right">Total</th>
			</tr>
		</thead>
		<!-- TABLE HEADER END -->
		<!-- TABLE BODY START -->
		<tbody>
			@foreach (var order in @Model.OrderedProducts)
			{
				<!-- SINGLE CART_ITEM START -->
				<tr>
					<td class="cart-product">
						<a asp-controller="Products" asp-action="Details" asp-route-id="@order.Id"><img src="@order.ImageUrl"></a>
					</td>
					<td class="cart-description">
						<p class="product-name">
							<a asp-controller="Products" asp-action="Details" asp-route-id="@order.Id">@order.Name</a>
						</p>
					</td>
					<td class="cart-avail"><span class="label label-success">In stock</span></td>
					<td class="cart-unit">
						<ul class="price text-right">
							<li class="price">$@order.Price</li>
						</ul>
					</td>
					<td class="cart_quantity text-center">
						<div class="single-qty-btn">
							<input class="cart-plus-minus" type="text" name="qtybutton" value="@order.Quantity">
						</div>
					</td>
					<td>
						<form method="post" asp-controller="Carts" asp-action="Update">
							<span>
								<button type="submit" onclick="takeValue()" class="btn btn-danger btn-sm" title="Update">Update</button>
							</span>
							<input type="hidden" name="productId" value="@order.Id">
							<input type="hidden" name ="quantity">
						</form>
					</td>
					<td class="cart-delete text-center">
						<form method="post" asp-controller="Carts" asp-action="Delete">
							<span>
								<button type="submit" class="btn-close btn-sm" title="Delete"></button>
							</span>
							<input type="hidden" name="productId" value="@order.Id">
						</form>						
					</td>
					<td class="cart-total">
						<span class="price">$@order.TotalPerProduct</span>
					</td>
				</tr>
				<!-- SINGLE CART_ITEM END -->   
			}			
		</tbody>
		<!-- TABLE BODY END -->
		<!-- TABLE FOOTER START -->
		<tfoot>
			<tr class="cart-total-price">
				<td class="cart_voucher" colspan="3" rowspan="4"></td>
				<td class="text-right" colspan="3">Total products (tax excl.)</td>
				<td id="total_product" class="price" colspan="1">$0.00</td>
			</tr>
			<tr>
				<td class="text-right" colspan="3">Total shipping</td>
				<td id="total_shipping" class="price" colspan="1">$0.00</td>
			</tr>
			<tr>
				<td class="text-right" colspan="3">Total vouchers (tax excl.)</td>
				<td class="price" colspan="1">$0.00</td>
			</tr>
			<tr>
				<td class="total-price-container text-right" colspan="3">
					<span>Total</span>
				</td>
				<td id="total-price-container" class="price" colspan="1">
					<span id="total-price">$@Model.TotalAmount</span>
				</td>
			</tr>
		</tfoot>
		<!-- TABLE FOOTER END -->
	</table>
	<!-- TABLE END -->
</div>
<div class="returne-continue-shop">
	<div class="row">
		<div class="col-md-6">
			<a asp-controller="Home" asp-action="Index" class="continueshoping"><i class="fa fa-chevron-left"></i>
			Continue shopping</a>
		</div>
		<div class="col-md-6">
			<form method="post" asp-controller="Carts" asp-action="Checkout">
				<button class="procedtocheckout" type="submit">Proceed to checkout<i class="fa fa-chevron-right"></i></button>
			</form>
		</div>
	</div>		
</div>

<script>
	function takeValue() {
		let quantity = document.querySelector('input[name="qtybutton"]').value;
		document.querySelector('input[name="quantity"]').value = quantity;
	}
</script>
