@using Estore.Web.ViewModels.Home
@model IndexViewModel

<div id="messageBody"></div>

<!-- MAIN-SLIDER-AREA START -->
<div class="row main-slider-area">
    <!-- SLIDER-AREA START -->
    <div class="col-md-9">
        <div class="slider-area">
            <div id="wrapper">
                <div class="slider-wrapper">
                    <div id="mainSlider" class="nivoSlider">
                        <img src="~/assets/images/slider/1.png" alt="main slider" title="#htmlcaption" />
                        <img src="~/assets/images/slider/2.png" alt="main slider" title="#htmlcaption2" />
                    </div>
                    <div id="htmlcaption2" class="nivo-html-caption slider-caption">
                        <div class="slider-progress"></div>
                        <div class="slider-cap-text slider-text2">
                            <div class="d-table-cell">
                                <h2 class="animated bounceInDown">About Us</h2>
                                <p class="animated bounceInUp">
                                    We kindly ask you to meet our team.
                                </p>
                                <a asp-controller="Home" asp-action="About" class="wow zoomInDown" data-wow-duration="1s" data-wow-delay="1s">
                                    Read More 
                                   <i class="fa fa-caret-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SLIDER-AREA END -->
    <!-- SLIDER-RIGHT START -->
    <div class="col-md-3">
        <div class="slider-right zoom-img m-top">
            <img class="img-responsive" src="~/assets/images/product/cms11.jpg"/>
        </div>
    </div>
    <!-- SLIDER-RIGHT END -->
</div>
<!-- MAIN-SLIDER-AREA END -->
<!-- LATEST-PRODUCTS-AREA START -->
<div class="featured-products-area">
    <div class="center-title-area">
        <h2 class="center-title">Latest Products</h2>
    </div>

    <div class="carousel-wrap">
        <!-- LATEST-CAROUSEL START -->
        <div class="feartured-carousel owl-carousel">
            @foreach (var product in @Model.LatestProducts)
           {
                <div class="single-product-item">
                    <div class="product-image">
                        <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">
                            <img src="@product.ImageUrl" alt="product-image" />
                        </a>
                        <span class="new-mark-box">New</span>
                        <div class="overlay-content">
                            <ul>
                                <li>
                                    <a class="text-white" id="@product.Id" title="Add to cart">
                                        <i class="fa fa-shopping-cart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-info">
                        <div class="customar-comments-box">
                            <div class="rating-box">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-empty"></i>
                            </div>
                        </div>
                        <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">@product.Name</a>
                        <div class="price-box">
                            <span class="price">$@product.Price</span>
                        </div>
                    </div>
                </div>
           } 
        </div>
        <!-- LATEST-CAROUSEL END -->
    </div>
</div>
<!-- LATEST-PRODUCTS-AREA END -->
<!-- ADD-TWO-BY-ONE-COLUMN START -->
<div class="add-two-by-one-column">
    <div class="row">
        <div class="col-md-8">
            <div class="tow-column-add zoom-img">
                <img src="assets/images/product/shope-add1.png" alt="shope-add" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="one-column-add zoom-img">
                <img src="assets/images/product/shope-add2.png" alt="shope-add" />
            </div>
        </div>
    </div>
</div>
<!-- ADD-TWO-BY-ONE-COLUMN END -->

<!-- MOST-DSICOUNTED-PRODUCTS-AREA START -->
<div class="bestseller-products-area">
    <div class="center-title-area">
        <h2 class="center-title">Most Discounted</h2>
    </div>
    <div class="carousel-wrap">
        <!-- MOST-DSICOUNTED-CAROUSEL START -->
        <div class="bestseller-carousel owl-carousel">
            @foreach (var product in @Model.MostDiscountedProducts)
            {
                 <div class="single-product-item">
                    <div class="product-image">
                        <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">
                            <img src="@product.ImageUrl" alt="product-image" />
                        </a>
                        <span class="new-mark-box">Sale</span>
                        <div class="overlay-content">
                            <ul>
                                <li>
                                    <a class="text-white" id="@product.Id" title="Add to cart">
                                        <i class="fa fa-shopping-cart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-info">
                        <div class="customar-comments-box">
                            <div class="rating-box">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-empty"></i>
                            </div>
                        </div>
                        <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">@product.Name</a>
                        <div class="price-box">
                            <span class="price">$@product.Price</span>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!-- MOST-DISCOUNTED-CAROUSEL END -->
    </div>
</div>
<!-- MOST-DSICOUNTED-PRODUCTS-AREA END -->
<form method="post" id="antiForgeryForm"></form>

@section Scripts {
    <script>
        $("a[id]").each(function myFunction(el) {
            $(this).click(function () {
                var productId = $(this).attr("id");
                var quantity = 1;
                var antiForgeryToken = $("#antiForgeryForm input[name=__RequestVerificationToken]").val();
                var data = { productId: productId, quantity: quantity };
                $.ajax({
                    type: "POST",
                    url: "/api/Orders",
                    data: JSON.stringify(data),
                    headers: {
                        "X-CSRF-TOKEN": antiForgeryToken
                    },
                    success: function(data) {
                       $('#messageBody').html(
                        '<br/><div class="alert alert-success" role="alert"><span>' + data + '</span><button onclick="closeMessage()" type="button" class="btn-close btn-sm" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                    },
                    contentType: 'application/json',
                });
            })
        });

        function closeMessage() {
            let messageTag = document.getElementById('messageBody');
            messageTag.style.display = "none";
        }
    </script>
}