@using Estore.Web.ViewModels.Wishlists
@model WishlistViewModel

<br />
<div class="container">	
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-title">My wishlist</h2>

			<!-- WISHLISTS-CHART START -->
			<div class="wishlists-chart table-responsive">
				<table class="table table-bordered">
					<tbody><tr>
						<th class="wish-name">Name</th>
						<th class="wish-price">Price</th>
						<th class="wish-description">Description</th>
						<th class="wish-create">Added On</th>
						<th class="wish-link">In Category</th>
						<th class="wish-delete">Delete</th>
					</tr>
					@foreach (var product in @Model.WishProducts)
					{
						<tr>
							<td>
								<a asp-controller="Products" asp-action="Details" asp-route-id="@product.ProductId">@product.ProductName </a>
							</td>
							<td>
								<span>$@product.ProductPrice</span>
							</td>
							<td>
								<span>@product.ProductDescription</span>
							</td>
							<td>
								<span>@product.AddedOn.ToShortDateString()</span>
							</td>
							<td>
								<a asp-controller="Products" asp-action="@product.ProductCategoryName" asp-route-id="@product.ProductCategoryId">
									@product.ProductCategoryName
								</a>
							</td>
							<td>
								<form method="post" asp-controller="Wishlists" asp-action="Delete">
									<span>
										<button type="submit" class="btn-close btn-sm" title="Delete"></button>
									</span>
									<input type="hidden" name="productId" value="@product.ProductId">
								</form>
							</td>
						</tr> 
					}
				</tbody></table>
			</div>
			<!-- WISHLISTS-CHART END -->

			<!-- WISH-LIST BACT HOME START-->
			<div class="wish-back-link">
				<a class="wish-save" asp-controller="Home" asp-action="Index">
					<i class="fa fa-chevron-left"></i> Back to home page
				</a>
			</div>
			<!-- WISH-LIST BACT HOME END -->
		</div>
	</div>
</div>
