@using Estore.Web.ViewModels.Categories
@model SubCategoriesListViewModel

<div class="featured-products-area">
    <div class="center-title-area">
        <h2 class="center-title">@Model.ParentCategoryName</h2>
    </div>
    <div class="carousel-wrap">
        <!-- FEATURED-CAROUSEL START -->
        <div class="feartured-carousel owl-carousel">
            @foreach (var subCategory in Model.SubCategories)
           {
               <div class="class="col-md-6"">
                   <div class="product-image">
                        @if(@Model.ParentCategoryName == "Kids")
                        {
                            @if(@subCategory.Name == "Boys")
                            {
                                <a asp-controller="Categories" asp-action="@subCategory.Name" asp-route-id="@subCategory.Id" >
                                    <img src="@subCategory.ImageUrl" />
                                </a>
                            }
                            else
                            {
                                <a asp-controller="Categories" asp-action="@subCategory.Name" asp-route-id="@subCategory.Id" >
                                    <img src="@subCategory.ImageUrl" />
                                </a>
                            }
                        }
                        else
                        {
                            <a asp-controller="Products" asp-action="@subCategory.Name" asp-route-id="@subCategory.Id" >
                                <img src="@subCategory.ImageUrl" />
                            </a>
                        }                        
                   </div>
                   <div class="product-info">
                       <a href="single-product.html">@subCategory.Name</a>
                   </div>
               </div>
           }
        </div>
        <!-- FEATURED-CAROUSEL END -->
    </div>
</div>
