@using Estore.Web.ViewModels.Products
@model ProductDetailsViewModel

<div id="message">
	@if (this.TempData.ContainsKey("Message"))
	{
		<br />
	    <div class="alert alert-success" role="alert">
	        @this.TempData["Message"]
	        <button onclick="closeMessage()" type="button" class="btn-close btn-sm" data-dismiss="alert" aria-label="Close">
	        </button>
	    </div>
	}
</div>
<br />
<div class="container">
	<div class="row">
		<div class="col-lg-9">
			<!-- SINGLE-PRODUCT-DESCRIPTION START -->
			<div class="row">
				<div class="col-lg-5 col-md-4">
					<div class="single-product-view">
						<!-- Tab panes -->
						<div class="tab-content">
							@foreach (var image in @Model.Images)
						   {
							   <div class="tab-pane active" id="thumbnail_1">
									<div class="single-product-image">
										<img src="@image.RemoteUrl" alt="single-product-image">
										<a class="fancybox" href="img/product/sale/1.webp" data-fancybox-group="gallery">
											<span class="btn large-btn">View larger <i class="fa fa-search-plus"></i></span>
										</a>
									</div>
							   </div>
						   }
						</div>
					</div>
					<div class="select-product">
						<!-- Nav tabs -->
						<div class="bx-wrapper" style="max-width: 264px;">
							<div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative;"><div class="bx-loading"></div>
								<ul class="nav nav-tabs select-product-tab bxslider" style="width: 815%; position: relative;">
									@foreach (var image in @Model.Images)
								   {
									   <li class="active" style="float: left; list-style: none; position: relative; width: 87.997px;">
											<a href="#thumbnail_1" data-toggle="tab"><img src="@image.RemoteUrl" alt="pro-thumbnail"></a>
									   </li>
								   }
								</ul>
							</div>
							<div class="bx-controls bx-has-pager bx-has-controls-direction">
								<div class="bx-pager bx-default-pager">
									<div class="bx-pager-item"><a href="" data-slide-index="0" class="bx-pager-link">1</a>
									</div>
									<div class="bx-pager-item"><a href="" data-slide-index="1" class="bx-pager-link">2</a>
									</div>
								</div>
								<div class="bx-controls-direction">
									<a class="bx-prev" href=""><i class="fa fa-angle-right"></i>
									</a><a class="bx-next" href=""><i class="fa fa-angle-left"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-7 col-md-8">
					<div class="single-product-descirption">
						<h2>@Model.Name</h2>
						<div class="single-product-review-box">
							<div class="rating-box">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-half-empty"></i>
							</div>
							<div class="write-review">
								<a asp-controller="Reviews" asp-action="Create" asp-route-id="@Model.Id">Write a review</a>
							</div>
						</div>
						<div class="single-product-condition">
							<p>Condition: <span>New product</span></p>
						</div>
						<div class="single-product-price">
							<h2>$@Model.Price</h2>
						</div>
						<div class="single-product-desc">
							<div class="product-in-stock">
								<p><span>In stock</span></p>
							</div>
						</div>
						@if (this.User.Identity.IsAuthenticated) 
						{
							<form method="post" asp-controller="Carts" asp-action="Add">
								<div class="single-product-quantity">
								<p class="small-title">Quantity</p>
								<div class="form-group">
									<div class="cart-quantity">
										<div class="cart-plus-minus-button single-qty-btn">
											<input class="form-control" type="number" name="quantity" value=1 min=1>
										</div>
									</div>
								</div>							
								</div>
								<div class="single-product-add-cart">
									<button class="add-cart-text" type="submit" title="Add to cart">
										Add to cart
									</button>
								</div>
								<input type="hidden" name="productId" value="@Model.Id" />
							</form>

							<form method="post" asp-controller="Wishlists" asp-action="Add">
								<div class="single-product-info">
									<button class="add-cart-text" type="submit" title="Add to wishlist">
										<i class="fa fa-heart"></i>
									</button>
								</div>
								<input type="hidden" name="productId" value="@Model.Id" />
							</form>
						}
					</div>
				</div>
			</div>
			<!-- SINGLE-PRODUCT-DESCRIPTION END -->
	
			<!-- SINGLE-PRODUCT INFO TAB START -->
			<div class="product-more-info-tab">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs more-info-tab">
					<li class="active">Description</li>
				</ul>
				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active" id="moreinfo">
						<div class="tab-description">
							<p>@Model.Description</p>
						</div>
					</div>
				</div>
			</div>					
			<!-- SINGLE-PRODUCT INFO TAB END -->

			<!-- REVIEWS-AREA START -->
			@if (@Model.Reviews.Count() >= 1)
			{
				<div class="product-more-info-tab">
					<ul class="nav nav-tabs more-info-tab">
						<li class="active">Reviews</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="moreinfo">
							<div class="container mt-3 d-flex">
							    <div class="row d-flex col-lg-12">
							         @foreach (var review in @Model.Reviews)
									 {
										<div class="d-flex flex-row">
										    <div class="d-flex flex-column ms-2">										            
										        <p class="comment-text">"@review.Content"</p>
										    </div>
										</div>
										<div class="d-flex justify-content-between">
										    <div class="d-flex flex-row gap-3 align-items-center">
												<span>By</span>
											    <h3 class="text-primary">@review.Author</h3>
											</div>
											<div id="date" class="d-flex flex-row">
												<span id="date-created">Created On: </span>
												<span class="text-muted fw-normal fs-10">@review.CreatedOn</span>
											</div>
										</div>
									 }
							    </div>
							</div>
						</div>
					</div>
				</div>
			}
			<!-- REVIEWS-AREA END -->

			<br />
			<!-- RELATED-PRODUCTS-AREA START -->
			<div class="left-title-area">
				<h2 class="left-title">related products</h2>
			</div>
			
			<div class="related-product-area featured-products-area">
				<div class="carousel-wrap">
					<!-- RELATED-CAROUSEL START -->
					<div class="related-product owl-carousel owl-loaded owl-drag">
						<div class="owl-stage-outer">
							<div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1768px;">
								@foreach (var relProduct in @Model.RelatedProducts)
							   {
								   <div class="owl-item active" style="width: 190.881px; margin-right: 30px;">
										<div class="single-product-item">
											<div class="product-image">
												<a asp-controller="Products" asp-action="Details" asp-route-id="@relProduct.Id">
													<img src="@relProduct.ImageUrl" alt="product-image">
												</a>
											</div>
											<div class="product-info">
												<div class="customar-comments-box">
													<div class="rating-box">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star-half-empty"></i>
													</div>
													<div class="review-box">
														<span>1 Review(s)</span>
													</div>
												</div>
												<a asp-controller="Products" asp-action="Details" asp-route-id="@relProduct.Id">@relProduct.Name</a>
												<div class="price-box">
													<span class="price">$@relProduct.Price</span>
												</div>
											</div>
										</div>
									</div>
							   }							
							</div>
						</div>
						<div class="owl-nav">
							<button type="button" role="presentation" class="owl-prev disabled">
								<i class="fa fa-angle-left owl-prev-icon"></i>
							</button>
							<button type="button" role="presentation" class="owl-next">
								<i class="fa fa-angle-right owl-next-icon"></i>
							</button>
						</div>
						<div class="owl-dots disabled"></div>
					</div>
					<!-- RELATED-CAROUSEL END -->
				</div>
			</div>
			<!-- RELATED-PRODUCTS-AREA END -->	
		</div>		
	</div>
</div>

<script>
	function closeMessage() {
        let messageTag = document.getElementById('message');
        messageTag.style.display = "none";
    }
</script>
